* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* --------------Nav Section------------------ */
#nav-flex-container {
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
}

#nav-flex-container > p {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  margin-top: 20px;
}

.nav-ul-container {
  display: none;
}

/* --------------Header Section------------------ */
#header-flex-container {
  background-image: url(Images/header-illsutration-mobile@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 648px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header-flex-container > h1 {
  font-weight: bold;
  font-size: 220%;
  line-height: 130%;
  text-align: center;
  color: #172c4f;
  padding-top: 10%;
  margin-bottom: 0;
}

#header-flex-container > h1 > span {
  color: #36b37e;
}

#header-flex-container > p {
  font-size: 123%;
  line-height: 150%;
  color: #172b4d;
  font-weight: 400;
  margin: 0 7%;
  padding: 0 1%;
}

.social-ul {
  display: flex;
  justify-content: center;
}

.social-ul li {
  margin-right: 5%;
}

/* ------------------Works--------------- */
.section-header {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  margin: 24px 20px;
  padding: 20px;
}

.section-header::after {
  content: ' ';
  display: block;
  border: 2px solid #36b37e;
  width: 48px;
  margin: auto;
  margin-top: 20px;
}

.cards-grid-container {
  display: grid;
}

.card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 18px;
  height: 474px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  max-height: 240px;
}

.card-flex-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 222px;
  justify-content: space-around;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  padding: 0 6%;
  text-align: center;
  margin: 16px 0 0 0;
}

.tags-flex-container {
  display: flex;
  justify-content: center;
  row-gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 0 0 0;
}

.tag {
  margin: 0 6px;
  background: #ebf0ee;
  border-radius: 4px;
  align-items: center;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  transition: padding 2s;
}

.tag:hover {
  padding: 12px 16px;
}

button.card-btn {
  background: #246a4c;
  border-radius: 4px;
  align-items: center;
  padding: 12px;
  letter-spacing: 0.03em;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
  border: 0;
}

/* --------------About me------------ */
#about-me {
  margin-top: 60px;
  text-align: center;
  position: relative;
  background-image: url("Images/mob1.png"), url("Images/mob2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 100% -2%, 0% 23%;
}

#about-me > h2 {
  margin: 24px 0;
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  padding-top: 10px;
}

#about-me > p {
  margin: 24px 12px;
  color: #42526e;
  font-size: 20px;
  line-height: 160%;
  padding: 24px 12px;
}

.btn {
  background: #246a4c;
  border-radius: 4px;
  padding: 12px;
  letter-spacing: 0.03em;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
  border: 0;
}

.card-btn:hover,
.btn:hover {
  background: #2e8561;
  box-shadow: 0 8px 16px #36b37f3d;
}

.card-btn:active,
.btn:active {
  background: #008552;
}

#about-me-ul {
  list-style: none;
  margin: 0;
  padding: 40px 0 0 0;
}

.about-me-li {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;

  /* height: 352px; */
  margin: 24px;
  padding: 20px 0;
}

#about-me-ul img {
  margin-top: 40px;
}

.White-tag {
  margin: 0 8px;
  background: white;
  border-radius: 8px;
  align-items: center;
  padding: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  font-family: 'Inter', sans-serif;
}

#about-me-ul li > h3 {
  color: #344563;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  margin: 24px 0;
}

/* -------------Footer------------------ */

#footer-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("Images/illustration-contact-form.png");
  background-position: 100% 65%;
  background-repeat: no-repeat;
}

.footer-description {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  margin: 0 24px;
  transition: color 4s;
}

.footer-description:hover {
  color: #36b37f;
}

#footer-form {
  margin-top: 58px;
  text-align: center;
}

.form-items-li {
  width: 100%;
}

.input-forms {
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  width: 87%;
  height: 48px;
  margin: 0 24px;
  padding: 16px;
}

::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  color: #6b778c;
}

#email {
  margin-top: 24px;
}

#userComment {
  margin: 24px;
  height: 114px;
  width: 87%;
  border-radius: 4px;
  border: 1px solid #60c095;
  padding: 12px;
}

#footer-icons {
  padding-left: 26px;
  margin-top: 46px;
}

#footer-email {
  margin-top: 19px;
  height: 189px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #42526e;
  margin-bottom: 147px;
}

p.email-error {
  color: red;
  font-size: 16px;
}

/* ---------------Display menu-------------------- */
.display-menu {
  display: block;
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: start;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.nav-item {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
}

/* ---------------Display menu-------------------- */
.display-details {
  display: block;
  background-color: hsla(216, 14%, 79%, 0.693);
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100%;
  text-align: start;
  padding: 20px 16px;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.internal-details-div {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 16px 16px 20px;
  border-radius: 8px;
  margin: auto;
}

.detail-h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.bg-white-gray {
  background: #ebf0ee;
  color: #3a4a42 !important;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: inline;
  margin-right: 10px;
  border-radius: 4px;
}

.detail-p {
  color: #344563;
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 8px;
  font-family: 'Inter', sans-serif;
}

.detail-btn {
  background-color: #36b37f !important;
  width: 49%;
}

.close-detail {
  right: 9%;
  top: 5%;
  color: white;
  position: absolute;
}

.detail-technologies li:nth-child(n+4) {
  display: none;
}

/* --------------Desktop version------------------ */
@media screen and (min-width: 1024px) {
  /* --------Nav--------------- */
  #nav-flex-container > img,
  #nav-flex-container > p {
    display: none;
  }

  .nav-ul-container {
    display: block;
  }

  .nav-ul {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 3%;
    margin-top: 2%;
  }

  .nav-ul > li > a {
    text-decoration: none;
    color: #172b4d;
    font-size: 13px;
  }

  /* -----------Header------------ */
  #header-flex-container {
    background-image: url(Images/Header-llustration-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 780px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  #header-flex-container > h1 {
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 130%;
    text-align: center;
    color: #172c4f;
    padding-top: 10%;
    margin-bottom: 1%;
  }

  #header-flex-container > h1 > span {
    color: #36b37e;
  }

  #header-flex-container > p {
    font-size: 1.6vw;
    line-height: 150%;
    color: #172b4d;
    font-weight: 400;
    margin: 0 20% 3% 20%;
    padding: 0 1%;
  }

  .social-ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 2%;
    margin-bottom: 2%;
  }

  .social-ul li {
    margin-right: 2%;
  }

  /* --------------Works Section-------------- */

  #cards-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 7%;
    grid-gap: 3% 2%;
  }

  .card {
    margin: 0;
  }

  /* --------------About me Section-------------- */
  #about-me {
    padding-top: 8%;
    background-image: url("Images/illustration-about-me-2-desktop.png"), url("Images/about-desktop-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 30%, 100% 10%;
    background-size: 17vw;
  }

  #about-me > p {
    padding: 0 18%;
  }

  #about-me-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% 7%;
  }

  .about-me-li {
    margin: 0 3%;
  }

  /* --------------Footer Section-------------- */
  #footer-section {
    display: grid;
    grid-template-columns: 40% 60%;
    background-image:
      url("Images/illustration-1-contact-form-desktop.png"),
      url("Images/illustration-2-contact-form-desktop.png"),
      url("Images/contact\ form-illustratoin-3-desktop.png");
    background-position: 0 78%, 21% 75%, 100% 61%;
    background-size: 16vw;
  }

  #footer-icons {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid #dfe1e6;
  }

  .footer-description {
    padding-top: 22%;
    padding-left: 18%;
    line-height: 52px;
    margin: 0;
    font-size: 30px;
  }

  .btn {
    margin: 0 24px;
  }

  #footer-form {
    padding-bottom: 22%;
    padding-right: 3%;
    text-align: start;
  }

  #footer-email {
    display: none;
  }

  /* ------------------Display detail-------------------- */
  .display-details {
    padding: 7% 0;
  }

  .internal-details-div {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto min-content min-content;
    width: 65vw;
    padding: 2%;
  }

  .close-detail {
    grid-column: 1/4;
    grid-row: 1/2;
    position: initial;
    color: #67798e;
    font-size: 16px;
    padding: 15px;
    border-radius: 25%;
    background-color: #ebecf0;
    margin-left: auto;
    height: initial;
    margin-bottom: 10px;
  }

  .detail-img {
    height: 45vh;
    grid-column: 1/4;
    grid-row: 2/3;
    margin-bottom: 10px;
  }

  .detail-h3 {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-right: 10%;
  }

  .seeLive {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 40%;
    width: max-content;
  }

  .seeSource {
    grid-column: 3/4;
    grid-row: 3/4;
    height: 40%;
    margin: 0;
    width: max-content;
  }

  .detail-p {
    grid-column: 1/4;
    grid-row: 5/6;
  }

  .detail-technologies {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .detail-technologies li:nth-child(n+4) {
    display: initial;
  }
}
